body {
    background-color: #E0BBE4;
    margin: 10px;
    padding: 20px;
    }

.carousel-inner {
    max-height: 65rem;
    min-height: 65rem;
    margin-top: 90px;
      
}

.intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

 footer {
    min-height: 100px;
 }
 #iconos i {
    font-size: 26px;
    padding: 0 8px;
 }

 .navbar {
    background-color: #d291bc;
 }